[submodule "lib/fmt"]
	path = lib/fmt
    url = git@github.com:amessing/fmt.git
    branch = master
[submodule "lib/spdlog"]
	path = lib/spdlog
    url = git@github.com:amessing/spdlog.git
    branch = v1.x
[submodule "lib/googletest"]
	path = lib/googletest
    url = git@github.com:amessing/googletest.git
    branch = master
[submodule "lib/lemon"]
	path = lib/lemon
	url = git@github.com:amessing/lemon-copy.git
[submodule "lib/args"]
	path = lib/args
	url = git@github.com:amessing/args.git
[submodule "lib/ompl"]
	path = lib/ompl
	url = git@github.com:amessing/ompl.git
    branch = master
[submodule "lib/box2d"]
	path = lib/box2d
	url = git@github.com:amessing/box2d.git
    branch = master
