[submodule "lib/fmt"]
	path = lib/fmt
    url = https://github.com/amessing/fmt.git
    branch = master
[submodule "lib/spdlog"]
	path = lib/spdlog
    url = https://github.com/amessing/spdlog.git
    branch = v1.x
[submodule "lib/googletest"]
	path = lib/googletest
    url = https://github.com/amessing/googletest.git
    branch = master
[submodule "lib/lemon"]
	path = lib/lemon
	url = https://github.com/amessing/lemon-copy.git
[submodule "lib/args"]
	path = lib/args
	url = https://github.com/amessing/args.git
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/amessing/box2d.git
    branch = master
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/amessing/json.git
[submodule "lib/PlayRho"]
	path = lib/PlayRho
	url = git@github.com:amessing/PlayRho.git
[submodule "lib/earcut.hpp"]
	path = lib/earcut.hpp
	url = git@github.com:mapbox/earcut.hpp.git
