[submodule "lib/fmt"]
	path = lib/fmt
    url = git@github.com:amessing/fmt.git
    branch = master
[submodule "lib/spdlog"]
	path = lib/spdlog
    url = git@github.com:amessing/spdlog.git
    branch = v1.x
